# Ignore default generated Benchmark result file
benchmark_results.json

# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env

# Ignore editor-specific files
.idea/
*.sublime-*
