# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env

# Ignore virtual environment directories
venv/
.venv/

# AI generated tests that are not implemented
tests/not_implemented/
tests/benchmark/

# Ignore editor-specific files
.idea/
*.sublime-*
