name: JS Package

on:
  push:
    branches: [main]
    paths: ["js/**", ".github/workflows/build-js.yml"]
  pull_request:
    branches: [main]
    paths: ["js/**", ".github/workflows/build-js.yml"]
  workflow_dispatch:

env:
  CI_BUILD: true

jobs:
  build:
    name: Build, test and publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read
    defaults:
      run:
        working-directory: js/

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      - name: Show versions
        run: |
          echo "Node: $(node --version)"
          echo "npm: $(npm --version)"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: Build
        run: npm run build

      - name: Publish
        # if: ${{ success() && !github.base_ref }}
        run: cp ../README.md ./README.md; npm version $(node -p "require('./package.json').version").$(node -p "${{ github.run_number }}"); npm publish --access public --tag preview;
